= form_for @order, :url => { :action => :create } do |f|

  .cart-box.clearfix
    %input{:type=>"hidden", :name=>"order[confirm]", :value=> 'Новый'}

    %dl.username
      %dt Ваше имя *
      %dd.field= f.text_field :username
      - if @order.errors.any?
        %dd.error= @order.errors.messages[:username].join

    %dl
      %dt Электронная почта *
      %dd.field= f.text_field :email
      - if @order.errors.any?
        %dd.error= @order.errors.messages[:email].join

    %dl
      %dt Телефон для связи *
      %dd.field= f.text_field :phone
      - if @order.errors.any?
        %dd.error= @order.errors.messages[:phone].join

    %dl
      %dt Адрес доставки *
      %dd.field= f.text_field :address
      - if @order.errors.any?
        %dd.error= @order.errors.messages[:address].join


    %dl
      %dt Комментарий к заказу
      %dd.field= f.text_area :comment

  .cart-order-confirm.clearfix
    = link_to "< Вернуться в корзину", cart_path
    %input.button{:type=>"submit", :value=>"Подтвердить заказ"}