%h1.inner-page-title Корзина

.inner-page

  .breadcrumbs
    = link_to 'Главная', root_path
    %span.breadcrumbs-d >
    =link_to 'Магазин', shop_path
    %span.breadcrumbs-d >
    Корзина





  -if @products.length != 0

    %table.cart-table
      %tr
        %th.image Изображение
        %th Название
        %th Описание
        %th.qa кол-во
        %th Цена
        %th

        -for item in @products
          -@products_order = ProductsOrder.where("product_id = ? AND order_id = ?", item.id, @order_id).first
          -@count = @products_order.sum
          -@size = @products_order.size

          %tr
            %td.image
              -if item.attachments.find_last
                = image_tag item.attachments.find_last.file_url(:mini)
              -else
                %img{:src => '/images/nophoto_small.png'}
            %td.name
              %div= link_to item.title, [item.category, item]
              .size
                Размер:
                %b=@size

            %td
              .desc= item.desc
            %td.qa=@count
            %td.price
              = item.price.to_i * @count
              руб.
            %td.remove=link_to "", products_order_destroy_path(@order, item), :method => :delete, :class => "sprite delete"

    .order-sum
      Итоговая стоимость заказа:
      %b
        = @price
        руб

    .order-confirm.clearfix
      = link_to "< Вернуться к покупкам", shop_path
      = link_to "Оформить заказ", order_confirm_path(@order), :class => "button cart-order"

  -else
    %h1 Ваша корзина пуста