%h1.inner-page-title Оформление

.inner-page

  .breadcrumbs
    = link_to 'Главная', root_path
    %span.breadcrumbs-d >
    =link_to 'Магазин', shop_path
    %span.breadcrumbs-d >
    =link_to 'Корзина', cart_path
    %span.breadcrumbs-d >
    Оформление

  .clearfix

    .box-right.confirm
      = render 'form'

    .box-left
      .js-mini_cart= render_cell :cart, :mini_cart