%h1.inner-page-title
  Заказ №
  = @order.id

.inner-page

  .breadcrumbs
    = link_to 'Главная', root_path
    %span.breadcrumbs-d >
    =link_to 'Магазин', shop_path
    %span.breadcrumbs-d >
    =link_to 'Корзина', cart_path
    %span.breadcrumbs-d >
    Заказ
    = @order.id

  .text-page

    .title_h2
      .delimiter
        .sprite.us_t
      %h2 Заказ успешно оформлен
      .delimiter
        .sprite.us_b

    .b_info
      %div В ближайшее время с Вами свяжется наш менеджер для подтверждения заказа.
      %div Всю информацию по заказу Вы можете узнать у нашего менеджера позвонив по телефону
      %b +7 (915) 199-86-10
      %div
        Номер Вашего заказа:
        %b= @order.id


    .title_h2
      .delimiter
        .sprite.us_t
      %h2 Содержимое заказа
      .delimiter
        .sprite.us_b


    -if @products.length != 0

      %table.cart-table
        %tr
          %th.image Изображение
          %th Название
          %th Описание
          %th.qa кол-во
          %th Цена

          -for item in @products
            -@products_order = ProductsOrder.where("product_id = ? AND order_id = ?", item.id, @order_id).first
            -@count = @products_order.sum
            -@size = @products_order.size

            %tr
              %td.image
                -if item.attachments.find_last
                  = image_tag item.attachments.find_last.file_url(:mini)
                -else
                  %img{:src => '/images/nophoto_small.png'}
              %td.name
                %div= link_to item.title, [item.category, item]
                .size
                  Размер:
                  %b=@size

              %td
                .desc= item.desc
              %td.qa=@count
              %td.price
                = item.price.to_i * @count
                руб.

      .order-sum
        Итоговая стоимость заказа:
        %b
          = @price
          руб

    .title_h2
      .delimiter
        .sprite.us_t
      %h2= link_to "Вернуться к покупкам", shop_path
      .delimiter
        .sprite.us_b