#footer
  .container
    .info.clearfix
      %ul.nav
        %li{:class => "#{'selected' if @product || @categories || @category}"}=link_to 'магазин', shop_path
        %li{:class => "#{'selected' if @about}"}=link_to 'О компании', about_path
        %li{:class => "#{'selected' if @contacts}"}=link_to 'Контакты', contacts_path
        %li{:class => "#{'selected' if @cart}"}
          =link_to cart_path do
            = render_cell :cart, :show

      .contacts.clearfix
        .phone Тел: +7 (915) 199-86-10
        .e-mail
          e-mail:
          %a{:href => 'mailto:volare.italy@mail.ru'} volare.italy@mail.ru

      .social
        =link_to 'http://vk.com/club53662913', {:target => '_blank', :class => 'social_icon'} do
          .sprite.vk
        =link_to 'http://instagram.com/volareitaly', {:target => '_blank', :class => 'social_icon'} do
          .sprite.in

    .copyright 
      © Volare. Все права защищены.
      .create 
        сделано в 
        =link_to 'http://rocket-web.ru/', {:target => '_blank'} do
          =image_tag "rocket-web.png", alt: "Веб студия Rocket-web"
          