.header

  .contacts
    Тел.: +7 (915) 199-86-10
    &nbsp;
    E-mail: <a href="mailto:volare.italy@mail.ru">volare.italy@mail.ru</a>

  =link_to "LOGO", "/", :class => 'logo'

  %ul.nav.left
    %li{:class => "#{'selected' if @product || @categories || @category}"}=link_to 'магазин', shop_path
    %li{:class => "#{'selected' if @about}"}=link_to 'О компании', about_path

  %ul.nav.right
    %li{:class => "#{'selected' if @contacts}"}=link_to 'Контакты', contacts_path
    %li{:class => "#{'selected' if @cart}"}
      =link_to cart_path do
        = render_cell :cart, :show
