<div class="products-slide clearfix">
  <div class="sprite prev"></div>
  <div class="sprite next"></div>
  <div class="slides_container clearfix">
    <%- @count = 0 %>
    <%- for product in @products do %>

        <%- if @count <=3 %>

            <%- if @count == 0 %>
                <ul class="products-slide-item">
            <%- end %>

            <%- @count = @count + 1 %>

            <%= render :partial => 'shared/product', :object => product %>

            <%- if @count == 3 %>
                </ul>
                <%- @count = 0 %>
            <%- end %>

        <%- end %>

    <%- end %>
  </div>
</div>