%li.product.js-product
  .photo
    -if product.attachments.find_last
      = link_to([product.category, product]) do
        = image_tag product.attachments.find_last.file_url(:thumb)
    -else
      = link_to([product.category, product]) do
        %img{:src => '/images/nophoto_small.png'}

  = link_to [product.category, product], :class => 'title' do
    «
    =product.title
    »

  %dl.product-params
    %dt Цена:
    %dd
      = product.price.to_i
      руб
  %dl.product-params
    %dt Размер:
    %dd.weight-cont.js-weight-cont
      .weight.js-weight 36
      .weight.js-weight 37
      .weight.js-weight.selected 38
      .weight.js-weight 39
      .weight.js-weight 40
      .weight.js-weight 41
  .cart-add.js-order-add{:data => {:id => product.id, :size => '38'}} Купить