<%- @about = true %>

<h1 class="inner-page-title">О компании</h1>

<div class="inner-page">

  <div class="breadcrumbs">
    <%= link_to 'Главная', root_path %>
    <span class="breadcrumbs-d">></span>
    О компании
  </div>

  <div class="text-page">

    <div class="b_info">
      VOLARE – это ультрамодная, авторская коллекция обуви, сумок и аксессуаров, созданная итальянскими дизайнерами с учетом всех возможных пожеланий даже самых прихотливых модниц.
      Невероятное удобство,  оригинальность исполнения каждой модели, модный дизайн  делает эту обувь не просто частью вашей одежды, они задают неповторимый стиль и образ жизни,
      подчеркивая вашу непринужденность и простоту.
    </div>

    <div class="title_h2">
      <div class="delimiter">
        <div class="sprite us_t"></div>
      </div>
      <h2>Наше ПРЕИМУЩЕСТВо</h2>

      <div class="delimiter">
        <div class="sprite us_b"></div>
      </div>
    </div>

    <p>
      Сапоги разнообразных цветов, выполненные из натуральной кожи, замши и экзотической кожи питона и крокодила, с оригинальными украшениями в виде аппликаций, заклепок,
      декоративного шнура, ремешков и страз подойдут к одежде в стиле casual или к образу в этническом стиле.
    </p>

  </div>
</div>