<%- @contacts = true %>

<h1 class="inner-page-title">КоНтакты</h1>

<div class="inner-page">

  <div class="breadcrumbs">
    <%= link_to 'Главная', root_path %>
    <span class="breadcrumbs-d">></span>
    Контакты
  </div>


  <div class="contacts_cont">

    <div class="service">
      <h3>Индивидуальный пошив:</h3>

      <p>
        Помимо моделей размещенных на сайте, доступна услуга индивидуального пошива обуви по вашему запросу
      </p>

      <p>Вам доступен выбор материала, фасона, цвета, и т.д.</p>

      <p>Создайте свою уникальную модель, выделитесь из толпы</p>

      <p>Все детали вы можете выяснить у менеджера +7 (915) 360-09-44</p>

    </div>

    <div class="contacts">

      <dl class="contacts_info border">
        <dt>
          Оплата и возврат:
        </dt>
        <dd>
          Наличными курьеру при получении заказа
          <br>
          если по какой то причине купленные сапоги вам не подошли, вы сможете их обменять или вернуть в течении 2-х недель
        </dd>
      </dl>

      <dl class="contacts_info border">
        <dt>
          Доставка:
        </dt>
        <dd>
          осуществляется вечером в субботу и воскресенье
          <br>
          по Москве бесплатно, в область 300 рублей
        </dd>
      </dl>

      <dl class="contacts_info border">
        <dt>
          Вы можете нам позвонить:
        </dt>
        <dd>
          +7 (915) 199-86-10
        </dd>
      </dl>

      <dl class="contacts_info">
        <dt>
          Вы можете написать нам:
        </dt>
        <dd>
          <a href="mailto:volare.italy@mail.ru">volare.italy@mail.ru</a>
        </dd>
      </dl>


    </div>

  </div>

</div>