%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/10.jpg"}

.title_h2
  .delimiter
    .sprite.us_t
  %h2
    cделайте заказ прямо сейчас, позвоните или напишите менеджру:
    %br
    %b тел:&nbsp;&nbsp;+7 (915) 199-86-10
    %br
    %b
      Вконтакте:&nbsp;&nbsp;
      %a{:href => 'http://vk.com/club53662913', :target=>'_blank'} vk.com/club53662913
    %br
    %b
      Instagram:&nbsp;&nbsp;
      %a{:href => 'http://instagram.com/volareitaly', :target=>'_blank'} http://instagram.com/volareitaly
  .delimiter
    .sprite.us_b

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/4.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/2.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/5.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/3.jpg"}

.title_h2
  .delimiter
    .sprite.us_t
  %h2
    cделайте заказ прямо сейчас, позвоните или напишите менеджру:
    %br
    %b тел:&nbsp;&nbsp;+7 (915) 199-86-10
    %br
    %b
      Вконтакте:&nbsp;&nbsp;
      %a{:href => 'http://vk.com/club53662913', :target=>'_blank'} vk.com/club53662913
    %br
    %b
      Instagram:&nbsp;&nbsp;
      %a{:href => 'http://instagram.com/volareitaly', :target=>'_blank'} http://instagram.com/volareitaly
  .delimiter
    .sprite.us_b
      
%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/6.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/7.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/8.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/9.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/11.jpg"}

%a.images{:href=>"/shop"}
  .mask
  %img{:src => "/assets/fashion/1.jpg"}




.title_h2
  .delimiter
    .sprite.us_t
  %h2
    =link_to '/contacts' do
      Есть возможность индивидуального пошива обуви по вашему желанию
      %br
      Создайте свою уникальную модель(обращайтесь к менеджеру)
  .delimiter
    .sprite.us_b
.b_info
  Помимо моделей размещенных на сайте, доступна услуга индивидуального пошива обуви по вашему запросу
  %br
  Вам доступен выбор материала, фасона, цвета, и т.д.
  %br
  Создайте свою уникальную модель, выделитесь из толпы
  %br
  Все детали вы можете выяснить у менеджера
  %b+7 (915) 199-86-10


-#и подписать где я на фоне москва сити - типо урбан стайл и тд...
-#[31.10.2013 17:16:45] Albina: на фоне иры с морем - типо легкость и тд
-#[31.10.2013 17:17:21] Albina: а на с этими сапогами - удобно же очень)))фоне италии  - типо страсть к путешевтсвиям, открывайте для себя мир
