.promo-block
  .promo-block-in.slides_container
    .promo-block-item
      %a.slogan{:href=>"/fashion"}
        .bg
        .txt fashion style
        .delimiter
        .txt lookbook
      %img{:src => "/assets/promo/2.jpg"}
    .promo-block-item
      %a.slogan{:href=>"/fashion"}
        .bg
        .txt fashion style
        .delimiter
        .txt lookbook
      %img{:src => "/assets/promo/1.jpg"}
    .promo-block-item
      %a.slogan{:href=>"/fashion"}
        .bg
        .txt fashion style
        .delimiter
        .txt lookbook
      %img{:src => "/assets/promo/3.jpg"}

.title_h2
  .delimiter
    .sprite.us_t
  %h2=link_to 'Акция', '/shop'
  .delimiter
    .sprite.us_b

= render :partial => 'shared/product_slides', :object => @products

.title_h2
  .delimiter
    .sprite.us_t
  %h2
    =link_to '/contacts' do
      Есть возможность индивидуального пошива обуви по вашему желанию
      %br
      Создайте свою уникальную модель(обращайтесь к менеджеру)
  .delimiter
    .sprite.us_b
.b_info
  Помимо моделей размещенных на сайте, доступна услуга индивидуального пошива обуви по вашему запросу
  %br
  Вам доступен выбор материала, фасона, цвета, и т.д.
  %br
  Создайте свою уникальную модель, выделитесь из толпы
  %br
  Все детали вы можете выяснить у менеджера
  %b+7 (915) 199-86-10