= render 'shared/breadcrumbs'
.box-container.box-main-container
  .box-main
    %h1= @page.title
    = raw @page.text

  .box-right
    .mini_cart= render_cell :cart, :mini_cart
    = render_cell :news, :show
