<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body style="margin: 0; padding: 0;" bgcolor="#ffffff" text="#444444" topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" link="#5A2A00" alink="#5A2A00" vlink="#5A2A00" style="font: normal 13px Arial;">
<div style="font: normal 13px Arial;">

  <h2>Поступил новый заказ</h2>
  <%= link_to @order.id, "http://volare.su/admin/orders/#{@order.id}" %>

</div>
</body>
</html>