.box-left{
  float: left;
  width: 155px;
}

dl.categories,
dl.mini_cart{
  dt{
    font-weight: normal;
  }
  dt{
    margin: 0 0 7px 0;
    padding: 0 0 7px 0;
    text-transform: uppercase;
    border-bottom: 1px dashed #c7c0bd;
  }
}

dl.categories{
  margin: 0 0 40px 0;
}

dl.mini_cart{
  dd{
    margin: 0 0 5px 0;
  }
  .sum{
    margin: 10px 0 0 0;
    padding: 7px 0 0 0;
    font-weight: normal;
    border-top: 1px dashed #c7c0bd;
  }
}