#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: -60px;
  color: #462d23;
  font-size: 13px;
  line-height: 22px;
  font-weight: normal;
  text-transform: uppercase;
  background: #a6a09e;

  .info{
    height: 22px;
    padding: 40px 0;

    .nav{
      float: left;
    }

    .contacts{
      float: left;
      margin: 0 0 0 80px;
      .phone,
      .e-mail{
        float: left;
        margin: 0 30px 0 0;
      }
    }

    .social{
      position: relative;
      float: right;
      margin-top: -8px;
    }

  }

  .copyright{
    height: 67px;
    line-height: 67px;
    border-top: 1px dashed #897d79;
    text-align: center;
  }

  .create{
    float: right;
    img{
      height: 17px;
      margin: -4px 0 0 4px;
      position: relative;
      vertical-align: middle;
    }
  }

  a{
    color: #462d23;
    text-decoration: none;
  }

}
