html,
body{
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #462d23;
  font-weight: 300;
  background: url(/assets/bg.jpg) repeat top center;
}

.section-page{
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

html>body .section-page{
  height: auto;
}

a{
  color: #a1310f;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.wrap{
  position: relative;
}

.container{
  width: 982px;
  margin: 0 auto;
}
.content{
  position: relative;
  padding-bottom: 220px;
}
.box-right{
  float: right;
  width: 738px;
}

.breadcrumbs{
  font-size: 12px;
  line-height: 14px;
}

.delimiter{
  height: 12px;
  text-align: center;
  font-size: 0;
  .us_t,
  .us_b{
    vertical-align: top;
    font-size: 0;
  }
}
.title_h2{
  margin: 30px 0;
  a{
    color: #462d23;
    text-decoration: none;
  }
}
.b_info{
  width: 832px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: 300;
}

.nav{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  &.left{
    float: left;
  }
  &.right{
    float: right;
    li:last-child{
      margin: 0;
    }
  }
  li{
    display: inline-block;
    margin: 0 30px 0 0;
    a{
      font-size: 13px;
      text-transform: uppercase;
      color: #462d23;
      text-decoration: none;
    }
  }
}

//типографика
.cart-add,
.button{
  display: block;
  margin: 0;
  line-height: 48px;
  font-size: 18px;
  text-align: center;
  text-decoration: none !important;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background: #A1310F;
  &:hover{
    background: #74291c;
  }
}

.cart-add{
  margin: 0 0 5px;
}

h1{
  margin: 20px 0;
  font-size: 35px;
  line-height: 40px;
}
h2{
  margin: 10px 0;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}
h3{
  margin: 10px 0;
  font-size: 20px;
  line-height: 25px;
}
h4{
  margin: 10px 0;
  font-size: 16px;
  line-height: 21px;
}
p{
  margin: 25px 0;
}