.header{
  position: relative;
  height: 20px;
  padding: 65px 100px;
  font-weight: normal;

  .contacts{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 16px;
  }

  .nav{
    li{
      position: relative;
      margin-right: 65px;
      a{
        display: block;
        position: relative;
        z-index: 2;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
      }
      &:hover,
      &.selected{
        &:after{
          position: absolute;
          z-index: 1;
          top: -1px;
          left: 50%;
          margin-left: -42px;
          content: '';
          width: 84px;
          height: 40px;
          background: url(/assets/sprite.png) no-repeat 0 -111px;
        }
      }
    }
  }

}

.logo{
  position: absolute;
  left: 50%;
  top: 35px;
  width: 212px;
  height: 68px;
  margin-left: -100px;
  background: url(/assets/logo.png) no-repeat 0 0;
  font-size: 0;
  text-decoration: none;
}