.inner-page{
  padding: 20px 30px;
  background: #fff;
  font-size: 15px;
  line-height: 25px;
  .text-page{
    width: 832px;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
  }
  .b_info{
    margin: 0 0 60px 0;
  }
}

.inner-page-title{
  width: 220px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 0 0 0;
  font-size: 18px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  background: url(/assets/page-title.png) no-repeat 0 0;
}

.contacts_cont{
  display: table;

  .service,
  .contacts{
    display: table-cell;
    width: 431px;
    text-align: left;
  }

  .service{
    padding-right: 30px;
    border-right: 1px dashed #c7c0bd;
    font-weight: 300;

    h3{
      margin: 0 0 15px;
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  .contacts{
    padding-left: 30px;
    .phones{
      font-size: 18px;
    }
  }

  .contacts_info{
    margin: 0 0 45px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;

    dt{
      margin: 0 0 20px;
      font-weight: normal;
    }
    dd{
      padding: 0 0 25px;
    }

    &.border{
      border-bottom: 1px dashed #c7c0bd;
    }

  }

}

.breadcrumbs{
  margin: 0 0 20px;
  color: #d09887;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  font-weight: 300;
  a{
    color: #d09887;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .breadcrumbs-d{
    display: inline-block;
    margin: 0 2px;
    color: #a29691;
  }
}