.social_modal{
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  margin-left: -230px;
  margin-top: -140px;
  width: 400px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 100px #000000;

  h2{
    margin: 0 0 30px;
  }
}

.social_icons_b{
  display: block;
  margin: 0 0 30px;
  text-align: center;
}

.social_icons{
  display: inline-block;
  font-size: 0;
  width: 72px;
  height: 72px;
  margin: 0 10px;

  &.vk{
    background: url(vk.png);
  }

  &.fb{
    background: url(fb.png);
  }
}