.modal-close{
  position: absolute;
  right: -11px;
  top: -11px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(modal-close.png);
  cursor: pointer;
}

.modal-overlay{
  display: block;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  .modal-overlay-bg{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
  }
  .modal{
    position: absolute;
    z-index: 2;
    display: block;
    width: 640px;
    left: 50%;
    top: 50px;
    margin-left: -370px;
    background: #fff;
    .modal-in{
      padding: 35px 50px;
    }
  }
}