.cart-table{
  width: 100%;
  margin: 0 0 25px 0;

  th{
    padding: 3px 0 8px 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px dashed #c7c0bd;
    &.qa{
      padding-right: 30px;
    }
  }

  td{
    padding: 24px 30px 30px 0;
    border-bottom: 1px dashed #c7c0bd;
    vertical-align: top;
    img{
      vertical-align: top;
    }
    &.image{
      padding-top: 30px;
    }
    &.name{
      width: 195px;
      font-size: 18px;
      .size{
        b{
          font-weight: normal;
        }
      }
      a{
        text-transform: uppercase;
        color: #462d23;
        font-weight: normal;
      }
    }
    .desc{
      width: 320px;
    }
    &.qa{
      text-align: center;
    }
    &.price{
      font-weight: normal;
      white-space: nowrap;
    }
    &.remove{
      padding-right: 0;
    }
  }

}

.order-sum{
  margin: 0 0 25px 0;
  text-align: right;
  font-size: 18px;
  b{
    font-weight: normal;
  }
}

.order-confirm{
  margin: 0 0 30px 0;
  line-height: 48px;
  .button{
    float: right;
    width: 220px;
  }
}

.confirm{

}

.cart-box{
  padding: 2px 0 0 0;

  dl{
    position: relative;
    width: 480px;
    margin: 0 0 20px 0;
  }

  dt{
    margin: 0 0 6px 0;
    text-transform: uppercase;
    font-weight: normal;
  }

  dd.field{
    textarea,
    input{
      width: 460px;
      padding: 3px 8px;
      background: #efefef;
      border: 2px solid #efefef;
      font-size: 18px;
      font-weight: normal;
      color: #462d23;
    }
    .field_with_errors{
      textarea,
      input{
        border-color: #e87f7f;
      }
    }
    textarea{
      height: 180px;
    }
  }

  dd.error{
    position: absolute;
    left: 510px;
    top: 36px;
    width: 250px;
    line-height: 20px;
  }

  .username{
    dd.error{
      top: 27px;
    }
  }

}

.cart-order-confirm{
  width: 480px;
  margin: 12px 0 30px;
  line-height: 54px;
  .button{
    float: right;
    height: 54px;
    padding: 0 25px;
    border: none;
  }
}



































