.products-slide{
  position: relative;
  margin: 0 0 70px;
  padding: 0;
  .slides_container{
    width: 832px;
    height: 411px;
    margin: 0 auto;
  }
  .prev,
  .next{
    position: absolute;
    top: 100px;
    left: 0;
    cursor: pointer;
  }
  .next{
    left: auto;
    right: 0;
  }
  li{
    float: left;
    margin: 0 50px 0 0;
    padding: 0;
    background: #fff;
    &:last-child{
      margin: 0;
    }
  }
}

.product{

  .photo{
    margin: 0;
    padding: 5px;
    img{
      width: 100%;
      vertical-align: top;
    }
  }

  .title{
    display: block;
    margin: 0 0 5px;
    line-height: 48px;
    font-size: 18px;
    border-bottom: 1px dashed #c7c0bd;
    text-align: center;
    text-decoration: none !important;
    color: #462d23;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      background: #efefef;
    }
  }
}

dl.product-params{
  display: table;
  width: 100%;
  dt,
  dd{
    display: table-cell;
    line-height: 27px;
  }
  dt{
    padding-left: 20px;
  }
  dd{
    padding-right: 20px;
    text-align: right;
    font-weight: normal;
  }
}

.weight-cont{
  font-size: 0;
  .weight{
    display: inline-block;
    line-height: 22px;
    height: 22px;
    width: 20px;
    margin: 0;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    color: #908f8f;
    &:hover{
      background: #dfdfdf;
      font-weight: bold;
      color: #462d23;
      border-color: #dfdfdf;
    }
    &.selected{
      border-color: #c9c2bf;
      color: #462d23;
      font-weight: bold;
    }
  }
}

.cols-products{
  position: relative;
  margin: 0 0 0 -30px;
  padding: 0;
  li.product{
    float: left;
    width: 226px;
    margin: 0 0 50px 30px;
  }
}

.page-product{
  margin: 0 0 50px;
  padding: 0 0 50px 0;
  border-bottom: 1px dashed #c7c0bd;

  .photo{
    float: left;
    width: 675px;
    height: 490px;
    padding-top: 6px;
    overflow: hidden;
    img{
      vertical-align: top;
    }
    .image{
      float: right;
      width: 490px;
      text-align: center;
    }
    .images{
      float: left;
      width: 155px;
      img{
        margin: 0 0 30px 0;
        cursor: pointer;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  .product-info{
    position: relative;
    float: right;
    width: 215px;
    height: 496px;
    text-align: left;
    h2{
      margin-top: 0;
      margin-bottom: 15px;
      text-align: left;
    }
    h3{
      margin-bottom: 6px;
      text-transform: uppercase;
      font-size: 15px;
    }
    dl.product-params{
      margin-bottom: 5px;
      dt{
        padding-left: 0;
      }
      dd{
        padding-right: 0;
      }
    }
    .button{
      position: absolute;
      bottom: 0;
      width: 213px;
    }
  }
}

.page-product-slide{
  .products-slide{
    margin-bottom: 30px;
  }
}

.add_cart_success{
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 2000;
  height: 60px;
  line-height: 60px;
  width: 340px;
  margin-left: -170px;
  text-align: center;
  color: #fff;
  .add_cart_success-bg,
  div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
  }
  .add_cart_success-bg{
    //background: green;
    background: #462d23;
    opacity: .8;
  }
}