.promo-block{
  margin: 0 0 50px;
  padding: 5px;
  background: #fff;
  .promo-block-in{
    position: relative;
    width: 972px;
    //height: 350px;
  }
  .promo-block-item{
    position: relative;
    width: 972px;
    //height: 350px;
    .slogan{
      position: absolute;
      width: 100%;
      height: 454px;
      padding: 140px 0 0 0;
      line-height: 95px;
      z-index: 2;
      color: #fff;
      font-size: 60px;
      letter-spacing: 1px;
      font-weight: lighter;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;

      .bg{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #333;
        opacity: 0;
        -webkit-transition: opacity .5s ease 0s;
        transition: opacity .5s ease 0s;
      }

      .delimiter{
        position: relative;
        z-index: 2;
        width: 100%;
        height: 86px;
        margin: 0 0 4px;
        background: url(/assets/promo-delimiter.png) no-repeat top center;
        opacity: 0;
        -webkit-transition: opacity .5s ease 0s;
        transition: opacity .5s ease 0s;
      }
      .txt{
        position: relative;
        z-index: 2;
        height: 95px;
        opacity: 0;
        -webkit-transition: opacity .5s ease 0s;
        transition: opacity .5s ease 0s;
      }

      &:hover{
        .delimiter,
        .txt{
          opacity: 1;
        }
        .bg{
          opacity: .7;
        }
      }

    }
    img{
      position: absolute;
      z-index: 1;
    }
  }
}

.images{
  display: block;
  position: relative;
  margin: 0 0 5px;
  text-decoration: none;
  border: 5px solid #fff;

  .contact{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 35px;
    line-height: 45px;
  }

  .mask{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: .3;
    -webkit-transition: opacity .5s ease 0s;
    transition: opacity .5s ease 0s;
  }
  img{
    vertical-align: top;
  }

  &:hover{
    .mask{
      opacity: 0;
    }
  }
}

.slides_container{
  height: 594px;
}