.sprite{
  display: inline-block;
  vertical-align: top;
  background: url(/assets/sprite.png);
  &.prev{
    width: 22px;
    height: 43px;
    background-position: 0 0;
  }
  &.next{
    width: 22px;
    height: 43px;
    background-position: -22px 0;
  }
  &.us_t{
    width: 165px;
    height: 12px;
    background-position: 0 -73px;
  }
  &.us_b{
    width: 165px;
    height: 12px;
    background-position: 0 -86px;
  }
  &.vk{
    width: 25px;
    height: 23px;
    background: url(/assets/footer__social-item.png) -25px 0;
    &:hover{
      background-position: -25px -26px;
    }
  }
  &.in{
    width: 25px;
    height: 23px;
    background: url(/assets/footer__social-item.png) -155px 0;
    &:hover{
      background-position: -155px -26px;
    }
  }
  &.delete{
    width: 20px;
    height: 19px;
    background-position: 0 -161px;
    &:hover{
      opacity: .5;
    }
  }
}

.social_icon{
  display: inline-block;
  height: 24px;
  width: 29px;
  margin: 0 0 0 6px;
  padding: 3px 0;
  text-align: center;
  line-height: 22px;
  background: #e1e1e1;
  font-size: 0;
  .vk{
    margin-top: 1px;
  }
  &:hover{
    background: #fff;
  }
}