%h1.inner-page-title Магазин

.inner-page
  .breadcrumbs
    = link_to 'Главная', root_path
    %span.breadcrumbs-d >
    Магазин

  .clearfix

    .box-right
      %ul.cols-products.clearfix
        -@products.each do |product|
          = render :partial => 'shared/product', :object => product


    .box-left
      %dl.categories
        %dt КАТЕГОРИи
        -@categories.each do |category|
          %dd=link_to category.title, category

      .js-mini_cart= render_cell :cart, :mini_cart