%h1.inner-page-title{:itemprop => "name"}= @product.title

.inner-page

  .breadcrumbs
    = link_to 'Главная', root_path
    %span.breadcrumbs-d >
    =link_to 'Магазин', shop_path
    %span.breadcrumbs-d >
    =link_to @product.category.title, @product.category
    %span.breadcrumbs-d >
    = @product.title

  .page-product.js-product.clearfix{:itemscope=>"", :itemtype=>"http://schema.org/Product"}

    .product-info
      %h2= @product.title

      %dl.product-params{:itemprop=>"offers", :itemscope=>"", :itemtype=>"http://schema.org/Offer"}
        %dt Цена:
        %dd{:itemprop => "price"}
          = @product.price.to_i
          руб
        %meta{:itemprop=>"priceCurrency", :content=>"RUB"}

      %dl.product-params
        %dt Размер:
        %dd.weight-cont.js-weight-cont
          .weight.js-weight 36
          .weight.js-weight 37
          .weight.js-weight.selected 38
          .weight.js-weight 39
          .weight.js-weight 40
          .weight.js-weight 41

      %h3 Описание:
      .descr{:itemprop => "description"}= @product.desc

      .button.js-order-add{:data => {:id => @product.id, :size => '38'}} Заказать

    .photo.clearfix
      .image.js-image
        -if @images.find_last
          %meta{:itemprop=>"image", :content => "http://#{request.host}/#{@images.find_last.file_url(:large)}"}
          =image_tag @images.find_last.file_url(:large)
        -else
          %img{:src => '/images/nophoto_big.png'}
      .images.js-images
        -for image in @images
          =image_tag image.file_url(:mini), :data => {:img => image.file_url(:large)}


  .title_h2
    .delimiter
      .sprite.us_t
    %h2 С этими сапогами обычно покупают
    .delimiter
      .sprite.us_b
  .page-product-slide
    = render :partial => 'shared/product_slides', :object => @products