!!! 5
%html(lang="ru")
  %head
    %meta(charset="utf-8")
    %title= title
    %meta{:name => "keywords",  :content => metakey }
    %meta{:name => "description",  :content => metadesc }
    = csrf_meta_tags
    %link{:href => 'http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=cyrillic,latin', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    -#= javascript_include_tag "app/index"

  %body
    .section-page
      .wrap
        .container
          = render 'shared/header'
          .content
            = yield
      = render 'shared/footer'

    = render 'shared/counter'

    -#.social_modal
      %h2 Присоединяйтесь к нам в социальных сетях
      .social_icons_b
        %a.social_icons.vk{:href=>"http://vk.com/volare_ru", :target=>"_blank"}
        %a.social_icons.fb{:href=>"https://www.facebook.com/volaresu", :target=>"_blank"}

      %span.button.js-set_social больше не показывать!


    -#= debug(params) if Rails.env.development?